.DS_Store
main.toc
main.synctex.gz
main.out
main.log
main.fls
main.fdb_latexmk
main.aux
seminars/sem1.aux
seminars/sem1.fdb_latexmk
seminars/sem1.fls
seminars/sem1.log
seminars/sem1.out
seminars/sem1.pdf
seminars/sem1.synctex.gz
main 2.synctex(busy)
discrete_mathematics.toc
discrete_mathematics.fdb_latexmk
discrete_mathematics.fls
discrete_mathematics.log
discrete_mathematics.out
discrete_mathematics.synctex.gz
discrete_mathematics.aux
discrete_mathematics 2.synctex.gz
seminars/sem14 2.log
seminars/sem14.fdb_latexmk
seminars/sem14.fls
seminars/sem14.out
seminars/sem14.log
seminars/sem14.pdf
seminars/sem14.synctex.gz
seminars/sem14.aux
discrete_mathematics.tex
seminars/sem15.aux
seminars/sem15.fdb_latexmk
seminars/sem15.fls
seminars/sem15.log
seminars/sem15.out
seminars/sem15.synctex.gz
discrete_mathematics.pdf
.gitignore
seminars/sem15.pdf
